{% extends 'base.html' %}
{% block content %}
  <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About US...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Josh 's e-Commerce Store!!!</p>
                </div>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dictum, nisl vel pulvinar volutpat, lorem libero porta velit, quis ultricies lorem augue nec erat. Sed quis suscipit urna. Nulla bibendum diam non magna posuere facilisis. Duis ac lacus diam. Cras ut ornare justo, et blandit lectus. Duis porta finibus urna, accumsan elementum erat hendrerit ut. Vivamus posuere eget tortor at fermentum. Vivamus condimentum ultricies est vitae suscipit. Praesent rhoncus quis mauris non tristique. Aliquam erat volutpat. Nulla facilisi. Nulla quis rutrum justo. In pulvinar lacinia hendrerit. Sed molestie dignissim ante ac malesuada. Etiam ut efficitur nulla, mollis pellentesque sem. Etiam lobortis eget tortor vitae consequat.
                            <br/><br/>
Donec non metus urna. Aenean sit amet ornare nunc. Duis egestas euismod enim a pharetra. Praesent mollis tortor ex, sed vehicula augue molestie id. Phasellus finibus mauris elit, in tempus enim dignissim dictum. Aenean ex velit, pharetra vitae suscipit varius, varius at mi. Nunc odio turpis, interdum quis luctus sed, tempus ac sapien. Curabitur vitae lectus condimentum, malesuada justo eget, ornare mi. Mauris aliquam quam ac ante finibus, id blandit tortor vestibulum. Curabitur eget scelerisque lectus, non faucibus lectus. Praesent at est ut urna condimentum ornare. In finibus, nulla in tempor auctor, odio turpis consectetur eros, vel laoreet velit augue sed nulla.
                        </p>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}