{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Processing Order...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">.</p>
                </div>
            </div>
        </header>
    <br/>
    
        <div class="container">
            <div class="row">
               
                    <div class="col-md-6 offset-md-3">
                       <div class="card">
                        <div class="card-header">
                            Order Summary
                        </div>
                        <div class="card-body">
                           {% for product in cart_products %}
                                {{ product.name }}
                                    {% if product.is_sale %}
                                        ${{ product.sale_price }}
                                    {% else %}
                                        ${{ product.price }}
                                {% endif %}

                            <br/> 
                           <small>Quantity:
                           {% for key, value in quantites.items %}

                                {% if key == product.id|slugify %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}</small>
                            <br/><br/>
                            
                           {% endfor %}
                           <strong>Total: ${{ totals }}</strong>
                            <br/><br/>
                            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                            <br/>
                        </div>
                        </div>

                        <br/>
                        <div class="card">
                        <div class="card-header">
                            Shipping Address
                        </div>
                        <div class="card-body">
                           
                           Name: {{ shipping_info.shipping_full_name }}<br/>
                           Address 1: {{ shipping_info.shipping_address1 }}<br/>
                           Address 2: {{ shipping_info.shipping_address2 }}<br/>
                           City: {{ shipping_info.shipping_city }}<br/>
                           State: {{ shipping_info.shipping_state }}<br/>
                           Zipcode: {{ shipping_info.shipping_zip_code }}<br/>
                           Country: {{ shipping_info.shipping_country }}<br/>
                            <br/>
                            <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-secondary">Update Address</a>
                             
                        </div>
                        </div>
                        <br/><br/>

                         <div class="card">
                        <div class="card-header">
                            Billing Address
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'process_order' %}">
                            {% csrf_token %}
                           
                        {{ billing_form.as_p }}
                          
                        </div>
                        </div>
                        <br/><br/>
                        <button onclick="makePayment()" type="submit" class="btn btn-secondary">Pay Now</button>
                    </form>
                        </div>
                    </div>
            </div>
        </div>

<br/><br/>

<script src="https://checkout.flutterwave.com/v3.js"></script>

<script>

let cart_totals = "{{cart.cart_total}}"
let product_id = "{{product.id}}"


function makePayment() {
	FlutterwaveCheckout({
		public_key: 'FLWPUBK_TEST-510aecf7662be90f824f035f101aa0a3-X',
		tx_ref: 'titanic-48981487343MDI0NzMx',
		amount: cart_totals,
		currency: 'USD',
		payment_options: 'card, mobilemoneyghana, ussd',
		redirect_url: 'https://django-ecommerce-production-3a9c.up.railway.app/confirm_payment'+product_id,
		meta: {
			consumer_id: 23,
			consumer_mac: '92a3-912ba-1192a',
		},
		customer: {
			email: 'rose@unsinkableship.com',
			phone_number: '08102909304',
			name: 'Rose DeWitt Bukater',
		},
		customizations: {
			title: "Josh's Store",
			description: 'Buy with ease',
			logo: 'https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg',
		},
	});
}

</script>
{% endblock %}